body {
  height: 400px;
  width: 400px;

  margin: 0;
  line-height: normal;
}

:root {

  --font-inter: Inter;

  --color-white: #fff;
  --color-black: #000;

  --padding-xl: 20px;
}

.adblock-removebg-preview-1-icon {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0;
  top: -66px;
  left: 16px;
  object-fit: cover;
}
.refresh-1-icon {
  height: 25px;
  width: 25px;
}
.refresh-1-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.refresh-1-icon:active {
  opacity: 0.4;
}
.settings-gear-icon-1 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: cover;
}
.settings-gear-icon-1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.settings-gear-icon-1:active {
  opacity: 0.4;
}
.settings-gear-icon-1 {
  height: 20.3px;
  width: 20px;
  mix-blend-mode: normal;
}
.adblock-preview,
.root-frame {
  display: flex;
  flex-direction: row;
}
.adblock-preview {
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0;
  gap: 17px;
}
.root-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
}
.blocked-0 {
  margin: 0;
  height: 50px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.total-0 {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin-top: -2px;
}
.secondary-frame {
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  
}


.tertiary-frame {
  display: flex;
  flex-direction: row;
}

.tertiary-frame {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px 0 var(--padding-xl);
}
.rectangle-shape {
  align-self: stretch;
  height: 40px;
  position: relative;
  background-color: var(--color-black);
}
.iphone-8-1,
.upgrade-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.upgrade-call-to-action {
  align-self: stretch;
  gap: 45px;
}
.iphone-8-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  padding: 18px 0 0;
  gap: 66px;
  text-align: left;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.Estimate {
  font-family: var(--font-inter);
  font-size: 15px;
  font-weight: semi bold;
}
/* slide button*/
.switch {
	position: absolute;
	display: block;
	vertical-align: top;
	width: 100px;
	height: 30px;
	padding: 3px;
	margin: 0 10px 10px 0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	box-sizing:content-box;
}
.switch-input {
	position: absolute;
	top: 0px;
	left: 0;
	opacity: 0;
	box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
	box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
	box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #113af0;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 74px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
 
/* Transition
========================== */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

#blockedAdsCount {
 
  font-family: Arial, Helvetica, sans-serif;
  
  
  font-weight: bold;
}

#totalBlockedAds {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  
  font-weight: bold;
}