.adblock-removebg-preview-1-icon {
  width: 200px;
  height: 200px;
  position: absolute;
  margin: 0;
  top: -66px;
  left: 16px;
  object-fit: cover;
}
.refresh-1-icon {
  height: 25px;
  width: 25px;
}
.refresh-1-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}
.refresh-1-icon:active {
  opacity: 0.4;
}
.settings-gear-icon-1 {
  height: 25px;
  width: 25px;
  position: relative;
  object-fit: cover;
}
.settings-gear-icon-1:hover {
  opacity: 0.8;
  cursor: pointer;
}
.settings-gear-icon-1:active {
  opacity: 0.4;
}
.settings-gear-icon-1 {
  height: 20.3px;
  width: 20px;
  mix-blend-mode: normal;
}
.adblock-preview,
.root-frame {
  display: flex;
  flex-direction: row;
}
.adblock-preview {
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0;
  gap: 17px;
}
.root-frame {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 17px;
}
.blocked-0 {
  margin: 0;
  height: 50px;
  position: relative;
  font-size: inherit;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.total-0 {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  margin-top: -2px;
}
.secondary-frame {
  height: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.Activate1 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  font-family: var(--font-inter);
  color: rgb(255, 250, 250);
  text-align: left;
}
.Activate1:hover {
  opacity: 0.7;
}
.Activate1:active {
  opacity: 0.4;
}
.inner-frame,
.tertiary-frame {
  display: flex;
  flex-direction: row;
}
.inner-frame {
  cursor: pointer;
  border: 0;
  padding: 8px;
  background-color: #0f6eeb;
  border-radius: 7px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 36px;
  width:100px;
}
.tertiary-frame {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 30px 0 var(--padding-xl);
}
.rectangle-shape {
  align-self: stretch;
  height: 40px;
  position: relative;
  background-color: var(--color-black);
}
.iphone-8-1,
.upgrade-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.upgrade-call-to-action {
  align-self: stretch;
  gap: 45px;
}
.iphone-8-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  padding: 18px 0 0;
  gap: 66px;
  text-align: left;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.Estimate {
  font-family: var(--font-inter);
  font-size: 15px;
  font-weight: semi bold;
}
